@font-face {
  font-family: 'gloucester';
  src: url('../fonts/GloucesterMT-ExtraCondensed.eot'); /* IE9 Compat Modes */
  src: url('../fonts/GloucesterMT-ExtraCondensed.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/GloucesterMT-ExtraCondensed.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/GloucesterMT-ExtraCondensed.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/GloucesterMT-ExtraCondensed.svg#svgFontName') format('svg'); /* Legacy iOS */
}



body {
    margin: auto;
    font-size: 14px;
    font-family: 'Cabin';
    letter-spacing: .02em;
}

#container {
    width: 100%;
    margin: auto 0;
}

header {
    width: 100%;
    margin: auto 0;
    text-align: center;
}

.gold-bar {
    background-color: #aba000;
    width: 100%;
    height: 1em;
}

header img {
    width: 100%;
    max-width: 913px;
    padding: 1em 0em 1em 0em;
}

#content {
    background: url(../img/cauldron-pattern.jpg) repeat;
    padding: 1.5em;
}

#typography{
    margin: auto 0;
    background: #FFFFFF;
    padding: .5em 1.2em .5em 1.2em;
}

h1 {
    font-family: 'gloucester';
    color: #2c292e;
    letter-spacing: .02em;
    font-weight: normal;
    font-size: 2.5em;
    margin: .3em 0em 0em 0em;
}

h2 {
    font-family: 'Cabin';
    font-style: italic;
    color: #aba000;
    font-size: 1.2em;
    font-weight: normal;
    margin: .5em 0em 0em 0em;
    letter-spacing: 0em;
}

p {
    font-family: 'Cabin';
    color: #2c292e;
    letter-spacing: .02em;

}

p.label {
    font-family: 'Cabin';
    color: #959595;
    font-size: .8em;
    letter-spacing: 0em;
    margin-top: .2em;
}

a.unvisited {
    color: #1a4a2f;
    transition: color 0.3s ease;
}

a.unvisited:hover {
    color: #aba000;
}

a.visited {
    color: #aba000;
    text-decoration: none;
}

a.active {
    color: #1a4a2f;
    font-style: italic;
}

#colors {
    margin: auto;
    margin-top: 1.5em;
    background: #FFFFFF;
    padding: 1em;
}

#color-container {
    margin: auto;
    text-align: center;
}

#purple {
    background: #2c292e;
    width: 6em;
    height: 6em;
    display: inline-block;
    margin-right: 5%;
}

#yellow {
    background: #aba000;
    width: 6em;
    height: 6em;
    display: inline-block;
    margin-right: 5%;
}

#green {
    background: #1a4a2f;
    width: 6em;
    height: 6em;
    display: inline-block;
}

#images {
    margin: auto;
    margin-top: 0em;
    background: #FFFFFF;
    padding: .5em 1em .5em 1em;
}

#images img{
    width: 100%;
    padding-top: .5em;
}

#buttons {
    margin: auto;
    margin-top: 1.5em;
    background: #FFFFFF;
    padding: 1em;
}

#button-yellow {
    margin: auto;
    width: 17.3em;
    height: 3.3em;
    background: #aba000;
        -webkit-box-shadow: -6px 6px 0px -.1px rgba(44,41,46,1);
        -moz-box-shadow: -6px 6px 0px -.1px rgba(44,41,46,1);
        box-shadow: -6px 6px 0px -.1px rgba(44,41,46,1);
    color: white;
    text-align: center;
    line-height: 3em;
        transition: background 0.3s ease;
    margin-bottom: 1.5em;
}

#button-yellow:hover {
    background: #1a4a2f;
}

#button-green {
    margin: auto;
    width: 17.3em;
    height: 3.3em;
    background: #1a4a2f;
        -webkit-box-shadow: -6px 6px 0px -.1px rgba(44,41,46,1);
        -moz-box-shadow: -6px 6px 0px -.1px rgba(44,41,46,1);
        box-shadow: -6px 6px 0px -.1px rgba(44,41,46,1);
    color: white;
    text-align: center;
    line-height: 3em;
}

footer {
    width: 100%;
    margin: auto 0;
    text-align: center;
    margin: 2em 0em .2em 0em;
}

footer img {
    width: 100%;
    max-width: 913px;
}

/* ---------------------- Start Medium Styles  ------------------------- */

@media (min-width: 630px) {

    header img {
        width: 90%;
    }

    #purple {
        width: 8em;
        height: 8em;
        display: inline-block;
    }

    #yellow {
        width: 8em;
        height: 8em;
    }

    #green {
        width: 8em;
        height: 8em;
    }

    #images {
        overflow: auto;
    }

    #images img.lights {
        width: 45%;
        float: left;
        margin: 0 2% 1% 1.5%;
    }

    #images img.cat {
        width: 45%;
        float: left;
        clear: left;
        margin-left: 1.5%;
    }

    #images img.stairs {
        width: 50%;
    }

    #caption {
        float: right;
        width: 51.5%;

    }

    #buttons {
        overflow: hidden;
    }

    #button-center {
        margin: auto;
        width: 97%;
    }

    #button-yellow {
        float: left;
        margin-bottom: 1em;
    }

    #button-green {
        float: right;
    }

    footer img {
    width: 90%;
    }

}

/* ---------------------- Start Desktop Styles  ------------------------- */

@media (min-width: 880px) {

    #content {
        text-align: center;
    }

    header {
        text-align: left;
    }

    header img {
        width: 60%;
    }

    #typography {
        width: 40%;
        float: left;
        text-align: left;
    }

    #colors {
        width: 49%;
        vertical-align: top;
        display:inline-block;
        margin-top: 0em;
        margin-left: 1.5em;
    }

    #colors-container {
        width: 100%;
        margin: auto;
        text-align: center;
    }

    #purple {
        width: 30%;
        margin: .3em;
    }
    #green {
        width: 30%;
        margin: .3em;
    }
    #yellow {
        width: 30%;
        margin: .3em;
    }

    #images {
        width: 49%;
        margin-left: 1.5em;
        margin-top: 1.5em;
        display: inline-block;
    }

}