@font-face {
  font-family: 'gloucester';
  src: url('/font/GloucesterMT-ExtraCondensed.eot.eot'); /* IE9 Compat Modes */
  src: url('/font/GloucesterMT-ExtraCondensed.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/font/GloucesterMT-ExtraCondensed.woff') format('woff'), /* Pretty Modern Browsers */
       url('GloucesterMT-ExtraCondensed.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('GloucesterMT-ExtraCondensed.svg#svgFontName') format('svg'); /* Legacy iOS */
}



body {
    margin: auto;
    font-size: 14px;
    font-family: 'gloucester'
}

#container {
    width: 100%;
    margin: auto 0;
}

header {
    width: 100%;
    margin: auto 0;
    text-align: center;
}

.gold-bar {
    background-color: #aba000;
    width: 100%;
    height: 1em;
}

header img {
    width: 100%;
    max-width: 913px;
    padding: 1em 0em 1em 0em;
}

#content {
    background: url(../img/cauldron-pattern.jpg) repeat;
    padding: .5em;
}

#typography{
    width: 100%;
    margin: auto 0;
    background: #FFFFFF;
}